#workout-configuration {

  .wrapper {
    max-width: 900px;

    article {
      width: 100%;

      .sub-wrapper {
        max-width: 550px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


      h6 {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: 1.11px;
        text-align: center;
        color: #1e2022;
        margin: 25px auto 10px;
        max-width: 375px;
      }

      p.slider-result {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.89px;
        text-align: center;
        color: #c5cad7;
      }

      .extra-parts {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .btn {
          flex: 1 0 auto;
          margin: 10px;
          padding: 15px 15px;
          letter-spacing: 0.5px;
          font-size: 12px;
        }
      }
    }
  }
}