<div class="demo-notification">
    <div class="demo-notification-title">
        <span>You’re viewing the Zenfit Demo client.</span>
    </div>
    <a style="margin-left:10px;" class="exit-link" href="{{ path('clients') }}">Exit Demo</a>
</div>
