<div class="footer">
    <div class="footer-logo">
        <img src="{{ asset('bundles/app/zenfit-logo-inverse.png') }}">
    </div>
      <div class="footer-base">
          <strong>Copyright</strong> Zenfit &copy; 2021
      </div>
  </div>
</div>
