{% extends '@App/base.html.twig' %}

{% block content -%}

<div id="wrapper">

    {% include '@App/components/sideNav.html.twig' %}

    <div id="page-wrapper" class="gray-bg">

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Edit client</h2>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <form class="form-horizontal" method="post" action="{{ path('admin_clients_save') }}">
                <input type="text" value="{{ client.id }}" name="id" style="display: none;">
                <div class="form-group"><label class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" value="{{ client.name }}" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" value="{{ client.email }}" name="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-sm btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>

        {% include '@App/components/footer.html.twig' %}

    </div>

</div>

{% endblock %}

{% block script %}
    <script>
        $(function() {});
    </script>
{% endblock script %}
