pro.zenfitapp.com
log stdout
errors stdout
timeouts 1m
gzip
proxy / 35.158.108.61 35.159.12.138 {
  policy ip_hash
  header_upstream Host {host}
  health_check /
  health_check_interval 30s
  fail_timeout 10s
  max_fails 5
}
