<div class="modal inmodal fade" id="client-unsubscribe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <h4>You will no longer have access to the Zenfit app.</h4>
                <p>Your trainer will get an email to confirm your unsubscription.</p>
                <p>Please also write your trainer in the Zenfit Chat to confirm your cancellation. Your trainer will need to confirm it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, cancel</button>
                <button type="button" class="btn btn-danger unsubscribeClient">Yes, I am sure</button>
            </div>
        </div>
    </div>
</div>
