{% extends '@App/empty.html.twig' %}

{% block content %}

    <div id="wrapper" class="checkout-success">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 checkout-container">
                    {% if status == 'success' %}
                        <img width="50" height="50" data-placeholder="{{ asset('bundles/app/images/success-checkout-icon.svg') }}" src="{{ asset('bundles/app/images/success-checkout-icon.svg') }}"/>
                    {% endif %}
                    <h2>{{ message }}</h2>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
