$CTA_COLORS_BG: #0062ff;
$CTA_COLORS_BG_GREY: #f2f4f6;
$INPUT_COLORS_ACTIVE: #2ab85e;
$INPUT_COLORS_HOVER: #ccc;
$INPUT_COLORS_BORDER: #ebebeb;
$CTA_BUTTON_BG_GREY: #d7dee9;
$INACTIVE_COLOR: #e6eaed;
$ACTIVE_COLOR: rgba(0, 98, 255, 0.7);
$SUCCES_COLOR: #2ab85e;

:export {
    ACTIVE_COLOR: $ACTIVE_COLOR;
    INPUT_COLORS_ACTIVE: $INPUT_COLORS_ACTIVE;
    INPUT_COLORS_BORDER: $INPUT_COLORS_BORDER;
    CTA_COLORS_BG: $CTA_COLORS_BG;
    INPUT_COLORS_HOVER: $INPUT_COLORS_HOVER;
    CTA_BUTTON_BG_GREY: $CTA_BUTTON_BG_GREY;
}

$INPUT_IMG_PERSON_ICON_BG: #eeeeee;
$INPUT_IMG_PERSON_ICON: #cccccc;
