.survey-btn {
  &.btn {
    padding: 15px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }
  &.btn,
  &.btn:active,
  &.btn:hover,
  &.btn:focus {
    outline: none;
  }

  &.btn-primary.inverse:hover {
    background-color: var(--light);
    border-color: var(--primary);
    color: var(--primary);
    box-shadow: 0 8px 26px 0 rgba(100, 146, 188, 0.4);
  }

  &.btn-default.inverse:hover,
  &.btn-default.inverse:active {
    background-color: var(--dark);
    border-color: var(--dark);
    color: var(--light);
    opacity: 1;
    box-shadow: 0 5px 8px 0 rgba(10, 10, 10, 0.4);
  }
}