<nav class="responsive-tabs client-nav">
    <a class="responsive-tab {{ tab == 'general' ? 'active' : '' }}" href="{{ path('account') }}">
        General
    </a>
    {#}
    <a class="responsive-tab {{ tab == 'templates' ? 'active' : '' }}" href="{{ path('accountTemplates') }}">
        Templates
    </a>#}
</nav>
