/* Chrome, Safari, Edge, Opera */
.zf-input input::-webkit-outer-spin-button,
.zf-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.zf-input input[type=number] {
    -moz-appearance: textfield;
    background-color: black;
}

.zf-input {
    &.phone {
        .country-select {
            background-color: #fff;
            border: 2px solid rgba(122, 137, 153, 0.5);
        }
        .phone-input {
            padding-left: 48px !important;
        }
    }
}