{% extends '@App/base.html.twig' %}

{% block content -%}

    <div id="wrapper" class="gray-bg">
        <div class="page-container">
            <div class="block-header">
                <img class="box-logo" src="{{ asset('bundles/app/images/zenfit-logo-dark.svg') }}">
                <div class="box-text">
                    <h4 class="box-title">Hi there!</h4>
                    <p>Put in your email to request a new password.</p>
                </div>
            </div>
            <div class="block-body">
                <form class="form" method="POST" action="{{ path('react-api-forgot-password') }}">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="ibox">
                                <div class="ibox-content ibox-content-line m-p-x">
                                    <div class="form-group">
                                        <label class="control-label" for="exampleInputName2">Your e-mail</label>
                                        <div class="form-group-in max-width">
                                            <input type="email" name="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <div class="form-group-in max-width">
                                            <button data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading" type="submit" class="btn btn-success btn-upper btn-submit">Send Me a New Creation Email</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="block-footer">
                <div class="powered-by">
                    <p>Powered by <img src="{{ asset('bundles/app/images/zenfit-logo-dark.svg') }}"></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

<script>
    (function($) {
        $('body')
          .on('submit','form', function(e) {
            e.preventDefault();
            $form = $(this);
            $btn = $(".btn-submit");
            $btn.button('loading');
            let data = {
              email: $('input[name="email"]').val()
            }

            $.post($form.attr('action'), JSON.stringify(data))
              .done(function(res) {
                alert(res.reason)
                setTimeout(function() {
                  window.location.reload();
                },1000);
              })
              .fail(function(xhr, status, error) {
                toastr.error(xhr.responseJSON.reason);
              })
              .always(function() {
                $btn.button('reset');
              })

          });
    }(jQuery));
</script>

{% endblock %}
