<div id="chat-widget-container"
     data-client-id="{{ client ? client.id : '' }}"
     data-client-photo="{{ client ? client.photo : '' }}"
     data-client-name="{{ client ? client.name : '' }}"
     data-user-id="{{ app.user.id }}"
></div>
