<div class="form-group">
    <label class="control-label">Lead info</label>
    <div class="form-group-in max-width">
          {{ client.lead.dialogMessage }}
    </div>
</div>

<div class="form-group">
    <label class="control-label">Sales note</label>
    <div class="form-group-in max-width">
          {{ client.lead.salesNotes }}
    </div>
</div>
