<div class="form-group">
    <label class="control-label">Lifestyle <span class="tooltip-label" data-toggle="tooltip" data-placement="right" title="Active Job? Active life-style? Do you smoke? Other?">?</span></label>
    <div class="form-group-in">
        <textarea class="form-control" name="lifestyle" {% if client.lifestyle is null %} placeholder="Active Job? Active life-style? Do you smoke? Other?" {% endif %} rows="3">{% if client.lifestyle is not null %}{{ client.lifestyle }}{% endif %}</textarea>
    </div>
</div>
