<div class="form-group">
    <label class="control-label">Note To Yourself <span class="tooltip-label" data-toggle="tooltip" data-placement="right" title="Just an internal note for yourself. Your client won't be able to see this">?</span></label>
    <div class="form-group-in max-width">
          <textarea class="form-control" name="note" rows="3" placeholder="Write a note">{{ client.note }}</textarea>
    </div>
</div>
