<div class="form-group">
    <label class="control-label">Number of meals per day</label>
    <div class="form-group-in">
      <input type="number" name="numberOfMeals" class="form-control" {% if client.numberOfMeals is not null %} value="{{ client.numberOfMeals }}" {% else %} placeholder="Number of meals" {% endif %}>
    </div>
</div>
