<div class="form-group">
    <label class="control-label">Other <span class="tooltip-label" data-toggle="tooltip" data-placement="right" title="Other information">?</span></label>
    <div class="form-group-in">
        <textarea class="form-control" name="other" rows="3" placeholder="Other">{{ client.other }}</textarea>
    </div>
</div>
