<div class="form-group">
    <label class="control-label">Phone</label>
    <div class="form-group-in max-width">
        <div class="phone-number">
            <input value="{{ client.phone }}" type="tel" id="phone_number" name="phone" class="form-control" placeholder="123-456-7890">
        </div>
    </div>
</div>
